<div class="container" ng-hide="{{userid}}">
	<a href="#/signin">Sign-in</a>
</div>
<div class="container" ng-show="{{userid}}">
	<div class="col-md-1"></div>
	<div class="col-md-6">
		<table class="table table-hover account-info" ng-init="active=0">
			<caption>Account Information</caption>
			<tr name="id">
				<th>id</th>
				<td>
					<input class="form-control input-sm" value="{{user[0]}}" ng-show="active" readonly/>
					<span ng-show="!active">{{ user[0] }}</span>
				</td>	
			</tr>
			<tr name="name">
				<th>Name</th>
				<td>
					<span ng-show="!active">{{ user[1] }}</span>
					<input class="form-control input-sm" value="{{user[1]}}" ng-show="active"/>
				</td>
			</tr>
			<tr name="username">
				<th>UserName</th>
				<td>
					<span ng-show="!active">{{ user[2] }}</span>
					<input class="form-control input-sm" value="{{user[2]}}" ng-show="active" />
				</td>
			</tr>
			<tr name="email">
				<th>Email</th>
				<td>
					<span ng-show="!active">{{ user[3] }}</span>
					<input class="form-control input-sm" value="{{user[3]}}" ng-show="active" />
				</td>
			</tr>
			<tr name="organization">
				<th>Organizarion</th>
				<td>
					<span ng-show="!active">{{ user[4] }}</span>
					<input class="form-control input-sm" value="{{user[4]}}" ng-show="active" />
				</td>
			</tr>
			<tr name="country">
				<th>Country</th>
				<td>
					<span ng-show="!active">{{ user[5] }}</span>
					<input class="form-control input-sm" value="{{user[5]}}" ng-show="active" />
				</td>
			</tr>
			<tr name="start_date">
				<th>Start Date</th>
				<td>
					<span ng-show="!active">{{ user[6] }}</span>
					<input class="form-control input-sm" value="{{user[6]}}" ng-show="active" />
				</td>
			</tr>
			<tr name="end_date">
				<th>End Date</th>
				<td>
					<span ng-show="!active">{{ user[7] }}</span>
					<input class="form-control input-sm" value="{{user[7]}}" ng-show="active" />
				</td>
			</tr>
		</table>
		<div class="edit">
			<a href="" class="btn btn-primary btn-sm" ng-click="showEditRow(x)">
				<span>Edit</span>
			</a>
		</div>
	</div>
</div>