<div>
	<div class="input-group search-input">
		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
	</div>
	<table class="table table-bordered table-hover contributors-list">
		<tr>
			<th class="col-id" ng-hide="1">#</th>
			<th class="col-name">Name</th>
			<th class="col-username">UserName</th>
			<th class="col-email">Email</th>
			<th class="col-organization">Organization</th>
			<th class="col-country">Country</th>
			<th class="col-start_date">Start Date</th>
			<th class="col-end_date">End Date</th>
			<th class="col-edit">Edit</th>
		</tr>
		<tr ng-repeat="x in data | filter:searchText" name="{{x[0]}}" ng-init="active=0">
			<td name="id" ng-hide="1">
				<input class="form-control input-sm" value="{{x[0]}}" ng-show="active" readonly/>
				<span ng-show="!active">{{ x[0] }}</span>
			</td>
			<td name="name">
				<input class="form-control input-sm" value="{{x[1]}}" ng-show="active" />
				<span ng-show="!active">{{ x[1] }}</span>
			</td>
			<td name="username">
				<input class="form-control input-sm" value="{{x[2]}}" ng-show="active" />
				<span ng-show="!active">{{ x[2]}}</span>
			</td>
			<td name="email">
				<input class="form-control input-sm" value="{{x[3]}}" ng-show="active" />
				<span ng-show="!active">{{ x[3] }}</span>
			</td>
			<td name="organization">
				<select ng-show="active">
					<option  ng-repeat="o in organization" value="{{o[1]}}">{{o[1]}}</option>
				</select>
				<span ng-show="!active">{{ x[4] }}</span>
			</td>
			<td name="country">
				<select ng-show="active">
					<option  ng-repeat="c in country" value="{{c[1]}}">{{c[1]}}</option>
				</select>
				<span ng-show="!active">{{ x[5] }}</span>
			</td>
			<td name="start_date">
				<input class="form-control input-sm" value="{{x[6]}}" ng-show="active" />
				<span ng-show="!active">{{ x[6] }}</span>
			</td>
			<td name="end_date">
				<input class="form-control input-sm" value="{{x[7]}}" ng-show="active" />
				<span ng-show="!active">{{ x[7] }}</span>
			</td>
			<td>
				<a href="" class="btn btn-primary btn-sm" ng-click="showEditRow(x)">
					<span>Edit</span>
				</a>
				<a href="" class="btn btn-primary btn-danger btn-sm" ng-click="deleteRow(x)">
					<span>Del</span>
				</a>
			</td>
		</tr>
	</table>
</div>
