<div ng-init="init()">
	<div class="input-group search-input">
		<input type="text" class="form-control" placeholder="Search for..." ng-model="searchText">
	</div>
	<table class="table table-bordered table-hover contributors-list">
		<tr>
			<th class="col-id" ng-hide="1">#</th>
			<th custom-sort order="'name'" sort="sort" class="col-name">Name</th>
			<th class="col-username">UserName</th>
			<th class="col-email">Email</th>
			<th class="col-organization">Organization</th>
			<th class="col-country">Country</th>
			<th class="col-start_date">Start Date</th>
			<th class="col-end_date">End Date</th>
			<th class="col-edit">Edit</th>
		</tr>
		<tr class="contributor" ng-repeat="x in pagedItems[current_page] | filter:searchText" name="{{x[0]}}" ng-init="active=0" >
			<td name="id" ng-hide="1">
				<input class="form-control input-sm" value="{{x[0]}}" ng-show="active" readonly/>
				<span ng-show="!active">{{ x[0] }}</span>
			</td>
			<td name="name">
				<input class="form-control input-sm" value="{{x[1]}}" ng-show="active" />
				<span ng-show="!active">{{ x[1] }}</span>
			</td>
			<td name="username">
				<input class="form-control input-sm" value="{{x[2]}}" ng-show="active" />
				<span ng-show="!active">{{ x[2]}}</span>
			</td>
			<td name="email">
				<input class="form-control input-sm" value="{{x[3]}}" ng-show="active" />
				<span ng-show="!active">{{ x[3] }}</span>
			</td>
			<td name="organization">
				<select ng-show="active">
					<option  ng-repeat="o in organization" value="{{o[1]}}">{{o[1]}}</option>
				</select>
				<span ng-show="!active">{{ x[4] }}</span>
			</td>
			<td name="country">
				<select ng-show="active">
					<option  ng-repeat="c in country" value="{{c[1]}}">{{c[1]}}</option>
				</select>
				<span ng-show="!active">{{ x[5] }}</span>
			</td>
			<td name="start_date">
				<input class="form-control input-sm" value="{{x[6]}}" ng-show="active" />
				<span ng-show="!active">{{ x[6] }}</span>
			</td>
			<td name="end_date">
				<input class="form-control input-sm" value="{{x[7]}}" ng-show="active" />
				<span ng-show="!active">{{ x[7] }}</span>
			</td>
			<td>
				<a href="" class="btn btn-primary btn-sm" ng-click="showEditRow(x)">
					<span>Edit</span>
				</a>
				<a href="" class="btn btn-primary btn-danger btn-sm" ng-click="deleteRow(x)">
					<span>Del</span>
				</a>
			</td>
		</tr>
	</table>
</div>

<div class="row">
	<ul class="pagination col-md-8">
		<li ng-click="prevPage()">
  			<a href >Prev</a>
	  	</li>
		<li ng-repeat="i in getNumber(number_of_pages)" ng-click="gotoPage(i-1)" ng-class="{disabled: i-1 == current_page}">
	  		<a href >{{i}}</a>
  		</li>
  		<li ng-click="nextPage()">
  			<a href >Next</a>
  		</li>
	</ul>
	<div class="col-md-2">
  		Show per page
  		<select id="show_options" ng-model="show_per_page" ng-change="change_show_per_page(show_per_page)" >
  			<option ng-repeat="entry in [1, 2, 3, 4]" ng-class="">{{entry}}</option>
  		</select>
	</div>
</div>